@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#HeroBg {
  background-image: url("/assets/home/bgimage.png");
}

@media (max-width: 768px) {
  #HeroBg {
    background-image: url("/assets/home/bgmobile.png");
    background-size: cover;
    background-position: center;
  }
}

.container {
  @apply !w-full h-full flex items-center font-nunito;
}

@layer utilities {
  .custom-container {
    @apply w-full py-10 lg:py-16 px-5 md:px-10 lg:px-20;
  }
  .custom-margin-top {
    @apply mt-[87px] md:mt-[122px] overflow-x-hidden;
  }
  .course-sub-container {
    @apply w-full p-4 px-5 bg-white shadow-sm border border-black/10 rounded-xl space-y-5;
  }
  .dashboard-container {
    @apply w-full bg-white rounded-lg border border-black/10;
  }
  .dashboard-sub-container {
    @apply w-full px-5 py-5;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeDown {
  animation: fadeDown 0.3s ease-in-out forwards;
}
:root {
  --primary: #e36760;
  --secondary: #f79902;
  --dark: #392b3c;
  --light: #ede8ec;
  --background: #0f2138;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaaaaa; /* Gray color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #eeeeee; /* Light gray background */
}

@keyframes progressAnimation {
  0% {
    width: 0%;
    transform: translateX(100%);
  }
  50% {
    width: 100%;
    transform: translateX(0%);
  }
  100% {
    width: 0%;
    transform: translateX(0%);
  }
}

.progress-bar {
  animation: progressAnimation 4s ease-in-out infinite;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

.remove-scrollbar {
  scrollbar-width: none;
}


