@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#HeroBg {
  background-image: url("/assets/home/bgimage.png");
}

@media (max-width: 768px) {
  #HeroBg {
    background-image: url("/assets/home/bgmobile.png");
    background-size: cover;
    background-position: center;
  }
}

.container {
  @apply !w-full h-full flex items-center font-nunito;
}

@layer utilities {
  .custom-container {
    @apply w-full py-10 lg:py-14 px-5 md:px-10 lg:px-20;
  }
  .custom-margin-top {
    @apply mt-28 overflow-x-hidden;
  }
  .course-sub-container {
    @apply w-full p-4 px-5 bg-white shadow-sm border border-black/10 rounded-xl space-y-5;
  }
  .dashboard-container {
    @apply w-full bg-white rounded-lg border border-black/10;
  }
  .dashboard-sub-container {
    @apply w-full px-5 py-5;
  }
}

:root {
  --primary: #e36760;
  --secondary: #f79902;
  --dark: #392b3c;
  --light: #ede8ec;
  --background: #0f2138;
}